html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

html {
    background: var(--page-background);
    color: var(--foreground);
    font-family: var(--common-font);
    font-size: var(--common-font-size);
    letter-spacing: 0.3px;
}

button, button:hover, button:active {
    background: none;
    border: none;
    opacity: 1;
    color: var(--foreground);
    font-family: var(--common-font);
    font-size: var(--common-font-size);
}

button {
    padding: 0;
}

button:focus {
    border: none;
    outline: none;
}

a, a:visited {
    color: var(--links);
}

pre {
    background: var(--code-block-background);
    color: var(--code-block-foreground);
    padding: 2px;
    overflow-x: auto;
}

pre, code {
    font-family: var(--code-font) !important;
    font-size: var(--code-font-size);
}

h1, h2, h3 {
    letter-spacing: var(--heading-letter-spacing);
}

h1 {
    border-bottom: 1px solid var(--header-1);
}

h1, h1 a {
    color: var(--header-1) !important;
}

h2, h2 a {
    color: var(--header-2) !important;
}

h3, h3 a {
    color: var(--header-3) !important;
}

/* Don't change font size in headers. */
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: unset;
}

p {
    margin: 0.7rem 0;
}

h1 {
    font-size: 1.55rem;
    margin: 0.7rem 0;
    margin-top: 1.4rem;
    padding: 0;
    padding-bottom: 0.15rem;
}

h2 {
    font-size: 1.45rem;
    padding: 0;
    margin: 1rem 0;
}

h3 {
    font-size: 1.2rem;
    padding: 0;
    margin: 1rem 0;
}

h1 .sec-title-number {
    display: inline-block;
    min-width: 3.5rem;
}

h2 .sec-title-number {
    display: inline-block;
    min-width: 3.8rem;
}

h3 .sec-title-number {
    display: inline-block;
    min-width: 4.2rem;
}

table {
    margin: 2rem auto;
    min-width: 25rem;
    border-collapse: collapse;
    border: 1px solid var(--table-border);
}
table th {
    font-weight: bold;
    font-style: italic;
    text-align: left;
}
table th, td {
    padding: 5px 7px;
    border: 1px solid var(--table-border);
}
table thead td {
    font-weight: 700;
}
table thead tr,
table td[colspan="2"] {
    background: var(--table-header-background);
    color: var(--table-header-foreground);
}
table tbody tr:nth-child(even) {
    background: var(--background);
}
table tbody tr:nth-child(odd) {
    background: var(--background);
}

ul li, ol li {
    margin: 0.4rem 0;
}

ol li {
    position: relaive;
    padding-left: 0.5rem;
}

ol li:before {
    position: absolute;
    left: -0.3rem;
}

.home-title {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 4rem 0;
}

.home-title-1 {
    color: var(--header-3);
    font-size: 3rem;
    font-weight: bold;
    padding: 2.5rem 0;
    margin-right: 1rem;
    width: 100%;
    min-width: 24rem;
    max-width: 38rem;
    border-top: 2px solid var(--header-3);
    border-bottom: 2px solid var(--header-3);
}

.home-heading {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: var(--heading-letter-spacing);
    color: var(--home-heading);
    text-align: center;
}

.section-title {
    cursor: pointer;
}

/* Menu bar */

#menubar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--menubar-height);
    padding: 0.5rem;
}

html[data-sidebar="true"] #menubar {
    left: var(--sidebar-width);
}

#menubar .left,
#menubar .right {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

#menubar #toggleSidebar {
    padding: 0.1rem 1rem;
    font-size: 1.5rem;
}

#menubar #toggleDark {
    padding: 0.8rem 0;
    text-transform: uppercase;
}

#menubar #toggleSidebar:hover,
#menubar #toggleDark:hover {
    opacity: 0.5;
}

#menubar .title {
    text-transform: uppercase;
    letter-spacing: var(--heading-letter-spacing);
}

/* Sidebar */

#sidebar {
    position: fixed;
    padding: 1rem 0;
    display: none;
    width: var(--sidebar-width);
    overflow-x: none;
    overflow-y: scroll;
    word-break: break-word;
    background: var(--page-background);
}

html[data-sidebar="true"] #sidebar {
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
}

#sidebar .subsections {
    display: none;
}

#sidebar .subsections[data-expand="true"] {
    display: flex;
}

#sidebar, #sidebar .subsections {
    flex-direction: column;
    gap: 0.3rem;
}

#sidebar .sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    margin-left: 1rem;
    color: var(--header-1);
    letter-spacing: var(--heading-letter-spacing);
}

#sidebar a {
    color: var(--foreground);
    text-decoration: none;
}

#sidebar .sec-top {
    font-weight: bold;
    padding: 0.5rem 0;
    color: var(--header-2);
}

#sidebar .sec-num {
    margin-right: 2rem;
}

#sidebar .subsections {
    margin-left: 1rem;
}

#sidebar .toggle {
    color: var(--sidebar-toggle-foreground);
    background: var(--sidebar-toggle-background);
    border: 1px solid var(--sidebar-toggle-border);
    padding: 2px 5px;
    margin: 0 4px;
    font-size: 0.8rem;
}

#sidebar .toggle:hover {
    opacity: 0.7;
}

/* Content */

#content {
    position: fixed;
    top: calc(var(--menubar-height) + 1rem);
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 80rem;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Content > Desktop */

@media (min-width: 1200px) {
    html[data-sidebar="true"] #content {
        left: var(--sidebar-width);
    }
}

#content img, #content video {
    max-width: 100%;
}

#homeContent {
    margin: 3rem 0;
}

#homeContent p {
    margin: 2rem 0;
}

#content main {
    margin-left: auto;
    max-width: var(--content-max-width);
    overflow-wrap: break-word;
}

html[data-sidebar="true"] #content main {
    margin: 0 auto;
}