/* Globals */

:root {
    --menubar-height: 38px;
    --content-max-width: 750px;

    --common-font: Arial, serif;
    --common-font-size: 0.87rem;
    --code-font: Courier New, monospace;
    --code-font-size: 1.0rem;

    --page-background: #fff;
    --background: #fff;
    --foreground: #000;

    --code-block-background: #c0c0c0;
    --code-block-foreground: #111;

    --heading-letter-spacing: 0.12rem;
    --header-1: #8e8e8e;
    --header-2: #555555;
    --header-3: var(--header-2);
    --home-heading: #ff6500;

    --table-border: #000;
    --table-header-background: #c0c0c0;
    --table-header-foreground: #050505;

    --sidebar-toggle-border: #333;
    --sidebar-toggle-background: #e2e2e2;
    --sidebar-toggle-foreground: #000;

    --links: #575757;
}

html[data-dark="true"] {
    --page-background: #181818;
    --background: #181818;
    --foreground: #fff;

    --code-block-background: #323232;
    --code-block-foreground: #eee;

    --heading-letter-spacing: 0.12rem;
    --header-1: #747474;
    --header-2: #a0a0a0;
    --header-3: var(--header-2);
    --home-heading: #ff6500;

    --table-border: #777;
    --table-header-background: #c0c0c0;
    --table-header-foreground: #050505;

    --sidebar-toggle-border: #eee;
    --sidebar-toggle-background: #222;
    --sidebar-toggle-foreground: #fff;

    --links: #848484;
}

/* Portrait */

@media (min-width: 320px) {
    :root {
        --sidebar-width: 280px;
    }
}

/* Landscape */

@media (min-width: 961px) {
    :root {
        --sidebar-width: 25rem;
    }
}