
/* Globals */

:root {
    --sidebar-width: 300px;
    --page-padding: 15px;
    --content-max-width: 750px;
    --menu-bar-height: 50px;
    --mono-font: "Courier New", "Monaspace Xenon", "DejaVu Sans Mono", monospace;
    --code-font-size: 0.95em /* please adjust the ace font size accordingly in editor.js */
}

/* Themes */

.ayu, .coal, .light, .navy, .rust {
    --bg: #454545;
    --fg: #fff;

    --sidebar-bg: var(--bg);
    --sidebar-fg: var(--fg);
    --sidebar-non-existant: #505274;
    --sidebar-active: var(--links);
    --sidebar-spacer: #2d334f;

    --scrollbar: var(--sidebar-fg);

    --icons: var(--fg);
    --icons-hover: var(--fg);

    --links: #99f;

    --inline-code-color: #fff;

    --theme-popup-bg: #9a9cd9;
    --theme-popup-border: #7072c5;
    --theme-hover: #aaa;

    --quote-bg: #773;
    --quote-border: #c2cda1;

    --table-border-color: #777;
    --table-header-bg: rgba(255, 255, 255, 0.05);
    --table-odd-bg: rgba(255, 255, 255, 0.05);
    --table-even-bg: rgba(255, 255, 255, 0);

    --searchbar-border-color: #000;
    --searchbar-bg: #fff;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #5f5f71;
    --searchresults-border-color: #5c5c68;
    --searchresults-li-bg: #242430;
    --search-mark-bg: #a2cff5;
}