
/* Globals */

:root {
    --sidebar-width: 300px;
    --page-padding: 15px;
    --content-max-width: 750px;
    --menu-bar-height: 50px;
    --mono-font: "Monaspace Xenon", "DejaVu Sans Mono", monospace;
    --code-font-size: 0.87em /* please adjust the ace font size accordingly in editor.js */
}

/* Themes */

.ayu, .coal, .light, .navy, .rust {
    --bg: #ddd;
    --fg: #222;

    --sidebar-bg: var(--bg);
    --sidebar-fg: var(--fg);
    --sidebar-non-existant: #505274;
    --sidebar-active: #2b79a2;
    --sidebar-spacer: #2d334f;

    --scrollbar: var(--sidebar-fg);

    --icons: var(--fg);
    --icons-hover: var(--fg);

    --links: #35b;

    --inline-code-color: #222;

    --theme-popup-bg: #fff;
    --theme-popup-border: #fff;
    --theme-hover: #bbb;

    --quote-bg: #bbb;
    --quote-border: #bbb;

    --table-border-color: #bbb;
    --table-odd-bg: #d7dae7;
    --table-even-bg: #fff;

    --searchbar-border-color: #000;
    --searchbar-bg: #fff;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #5f5f71;
    --searchresults-border-color: #5c5c68;
    --searchresults-li-bg: #242430;
    --search-mark-bg: #a2cff5;
}